/* defining the globar variables */
:root{
    --primartyColor: #FFA559;
    --backgroundColor: #FF6000;
    --myTitleFont:'Dancing Script', Cursive;


}
/* main css */
body{
    margin: 0px;
}
.top-section{
    background-color: var(--backgroundColor);
    color: var(--myTitleFont);
    height: 400px;
    text-align: center;
    
}
/* /* .heading-group{
    display: inline-block;
    margin-top: 100px; */
} */
.heading{
    font-family: var(--myTitleFont);
    margin: 0;
}
.bio{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 0.75; /1em=16px/
}
.top-cloud{
    position: absolute;
    margin-left: -250px;
    margin-block-start: 100px;
    width: 100px;

}
.bottom-cloud{
    position: absolute;
    width: 100px;
    margin-block-start: 50px;
    margin-left: -100px;
}
.mountain{
    width: 300px;
}