/* the tag selector */
body {
    background-color: bisque;
}


img {
    height: 100px;
    width:100px;
}

p {
    color:blue;
}

/* class selector */
.first_para {
    background-color: red;
}

.green_apple {
    background-color: green;
}
.red_apple {
    background-color: red;
}
.circular {
    border-radius: 100%;

}
.circular {
    border-radius: 100%;
}

/* id selector */
#special {
    font-weight: bold;
    color: goldenrod;
    background-color: rgb(red, green, blue);
}
.ekGroup,h1 {
    background-color: rgb(30, 229, 181);
    font-weight: bold;
    color:red ;
}

/* pseduo selectors */
.apple{
    color: green;
}
.apple:hover{
    background-color: gold;
    color: black;
    font-weight: bold;
}
.square100 {
    height: 100px;
    width: 100px;
}
.firstBox {
    background-color: skyblue;
    margin-top: 40px;
    position: relative;
    top: 40px;
}
.secondBox {
    background-color: greenyellow;
    margin-inline-start: 100px;
    /* display: block; */
    /* visibility: hidden; */
    margin-top: 50px;
    position: relative;
    left: -90px;
    top: -90px;
}
.thirdBox {
    background-color: gold;
    margin-inline-start: 200px;
    /* margin-block-start: -200px; */
    position: relative;
    margin-top: 60px;
    left: -80px;
    top: -80px;
}
.red_apple {
    bottom: 50px;
    position: fixed;
    top: 50px;
}
.green_apple{
    /* position: fixed; */
}




/* dimension: px,%,em */
